/*.footer {
}*/
.footer__content {
  display: flex;
  flex-direction: column;
  margin: 3% auto;
}
.footer__author {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
}
