/*.intro {
  margin: auto;
}*/
.intro__content {
  display: flex;
  flex-direction: column;
  margin: 92px auto; /*cambiar valores con media query 90, 64*/
  max-width: 984px;
}
.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  max-width: 830px;
  margin-bottom: 40px;
}
.intro__quote {
  max-width: 732px;
  margin-bottom: 32px;
}
.intro__cite {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 10px;
  text-align: left;
}
.intro__author {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
}
.intro__description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0%;
  max-width: 722px;
}
