.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lead__logo {
  max-width: 255px;
  /*min-width: 188px;
  max-height: 69px;
  min-height: 52px;*/
  margin-top: 34px; /*cambiar valores con media query 30, 20*/
  padding-bottom: 91px; /*cambiar valores con media query 90, 50*/
}
.lead__text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  margin: 0 auto 32px; /*cambiar valores con media query 25, 16*/
}

.lead__subtitle {
  max-width: 720px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto 64px; /*cambiar valores con media query 30, 40*/
}

.lead__image {
  max-width: 984px;
  max-height: 615px;
  min-width: 320px;
  min-height: 200px;
  width: 100%;
}
