.places__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.places__card {
  display: grid;
  max-width: 984px;
  column-gap: 40px;
  row-gap: 50px;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto 460px auto;
  grid-template-areas:
    "title website"
    "image paragraphs"
    "button paragraphs";
  padding-top: 80px;
}

.places__title {
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.places__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.places__image {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 50%);
}

.places__paragraphs {
  grid-area: paragraphs;
}
.places__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}
.places__button {
  grid-area: button;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 50px;
  background-image: linear-gradient(to right, #0278fe, #003a7b);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 25%);
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

.places__artista {
  color: #aaa;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.places__autor {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (max-width: 544px) {
  .places__card {
    grid-template-columns: 320px;
    grid-template-rows: auto auto 320px auto auto;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraphs"
      "button";
  }
  .places__content {
    gap: 50px;
  }
  .places__title {
    font-size: 32px;
  }
}

/* Entre 545px y 1024px*/
@media screen and (max-width: 1024px) and (min-width: 545px) {
  .places__card {
    grid-template-columns: 340px 352px;
    grid-template-rows: auto 340px auto;
    grid-template-areas:
      "title website"
      "image paragraphs"
      "button paragraphs";
  }

  .places__title {
    font-size: 42px;
  }

  .places__parrafo {
    font-size: 16px;
  }

  .places__content {
    gap: 70px;
  }
}

@media (hover: hover) {
  .places__button:hover {
    background-image: linear-gradient(to right, #0278fe50, #00397b50);
  }
  .places__image:hover {
    opacity: 50%;
  }
}
